.flexColChild--section__one--image {
    width: 600px;
}

.flexRowContent--container-fourelements{
    justify-content: space-between;
    gap: 20px;

}

.flexRowContent--homesliderdouble,
.flexRowContent--homesliderdoubledouble,
.flexRow--slidertwolayout{
    gap: 3rem;
    padding-top: 1.5rem
}