.flexColChild--section__one--image {
    width: 600px;
}

.flexRowContent--container-fourelements{
    justify-content: space-between;
    gap: 20px;
}

.flexRowContent--homesliderdouble,
.flexRowContent--homesliderdoubledouble{
    gap: 3rem
}