.flexRow--home__section--one {
    column-gap: 2rem;
}

.imageElement--home__banner-three {
    width: 80%;
    margin-top: 2rem;
    margin-left: 10%;
}

.flexColChild--section__two--image3 {
    gap: 10px;
}

.flexRowContent--container-fourone {
    gap: 1rem
}

.imageElement--home__banner-two {
    margin-top: 1rem;
    border-radius: 15px;
}

.imageElement--home__banner-principal {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 9%;
    width: 82%;
}

.imageElement--image-mas-servicios {
    border-radius: 10px;
}

.imageElement--section__two--phone-images {
    width: 100%;
}

.flexRowContent--phone__image--two {
    margin-top: 2rem;
}

.imageElement--img-slider-one-desktop {
    border-radius: 10px;
}

.imageElement--img-slider-one-desktop {
    gap: 3rem
}

/****** Styles Banners*******/
.imageElement--home__banner-two {
    margin-top: 1rem;
    border-radius: 15px
}

.imageElement--home__banner-principal {
    margin-bottom: 1rem;
    margin-left: 9%;
    width: 82%
}

.imageElement--home__banner-three {
    width: 80%;
    margin-top: 2rem;
    margin-left: 10%
}

/***********Slider image styles************/

.imageElement--home__banner-three {
    width: 100%;
    margin-top: 1rem
}

.imageElement--img-slider-one-m {
    max-width: 185px;
    padding-top: 1rem;
    width: 100%;
}

.imageElement--img-slider-two-m {
    margin: 5px;
    max-width: 360px;
}

.imageElement--image__section--two-mobile {
    margin-top: 2rem;
}

.imageElement--img-slider-one-m-s {
    margin-top: 2rem;
    border-radius: 15px;
    max-width: 360px;
}

.imageElement--section__four--images {
    margin-top: 0.5rem
}

.imageElement--img__promotion {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.imageElement--seccion__bajo--div {
    height: 2rem;
    width: auto
}

.imageElement--seccion__bajo--div-2 {
    height: 1.5rem;
    padding-top: 0.7rem;
    gap: 1;
}

/**********Responsive banner images style**********/

@media screen and (max-width: 768px) {
    .imageElement--home__banner-two {
        margin-bottom: 2rem
    }

    .imageElement--home__banner-three {
        margin-top: 0;
        max-width: 100%
    }

    .imageElement--image__product--list {
        padding-top: 1rem
    }
}


/**********Back to top button*****************/

.backToTopButtonActive :global(.vtex-button) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E2001A;
    margin-bottom: 4rem;
    margin-right: 5px
}