.flexRow--newsletter__desktop {
    background-color: #30393e;
}

.flexRow--container__second--footer-desktop {
    background-color: #30393e;
    padding-bottom: 2rem;
}
.flexRow--bloque__down{
    background-color: #30393e;
}

@media only screen and (max-width: 49rem) {
    .flexRow--container__second--footer-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center
    }
}