.flexRow--newsletter__desktop {
    background-color: #30393e;
}

.flexCol--footer_column--one {
    padding-left: 4rem;
}

.flexRow--container__second--footer-desktop {
    padding-top: 5rem;
    background-color: #30393e;
    padding-bottom: 2rem;
}

.flexRow--bloque__down {
    background-color: #30393e;
    padding-top: 4rem;
}

.flexColChild--container__powered-footer {
    display: grid;
    align-items: center;
    justify-content: end;
}

.flexColChild--container__powered-footer {
    display: grid;
    align-items: center;
    justify-content: baseline;
}

.flexRowContent--powered__tech-footer {
    gap: 4rem;
    margin-bottom: 2rem;
}

.flexRowContent--img__descargas-one {
    padding-right: 10rem;
}

.flexRowContent--newsletter__desktop {
    padding-top: 2rem;
}

.flexColChild--footer_column--six {
    padding-right: 1.5rem;
}

.flexColChild--footer_column--one {
    margin-right: 2rem
}

@media (max-width: 49rem) {
    .flexRow--container__second--footer-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center
    }

    ;

    .flexCol--footer_column--one {
        display: flex !important;
        align-items: center !important
    }

    ;

    .flexRowContent--img__descargas-one {
        padding-left: 5rem
    }
}

.flexRow--footer__mobile {
    background-color: #30393e;
}

.flexCol--footer__middle--mobile {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flexRowContent--footer__three-mobile :global(.vtex-disclosure-layout-1-x-trigger) {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #d9d9d9;
    width: 90%;
    margin: auto;
}

.flexColChild--newsletter__mobile {
    padding: 2rem
}

.flexRowContent--footer__three-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    flex-direction: column;
}

.flexRow--powered__tech--mobile{
    margin-left: 5rem;
    padding-bottom: 4rem
}

@media screen and (max-width: 1024px) {}