.paragraph--text__newsletter{
    color: #fff;
    font-weight: 700;
}

.paragraph--text__footer{
    color: #d9d9d9;
    font-size: 12px;
}

.paragraph--compra__segura-footer{
    text-align: center;
    display: block;
    font-weight: 600;
    color: #607d8b;
    font-size: .9rem;
}
.paragraph--copyright__footer{
    color: #607d8b;
    font-size: 10px;
    text-align: center
}
.paragraph--direccion__footer,
.paragraph--telefono__footer{
    color: #607d8b;
    font-size: 10px;
    text-align: center;
    text-decoration: unset !important
}

.paragraph--text__p--t{
    color: #fff;
    font-size: 11px;
}
.paragraph--footer__container-col-categorias,
.paragraph--footer__container-col-nuestra--empresa,
.paragraph--footer__container-col--infromacion-legal,
.paragraph--footer__container-col-nuestra--empresa{
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
    color: #d9d9d9;
}
