.headerRowContainer--header__middle,
.headerRowContainer--header__top-mobile {
    background-color: #E2001A
}

.headerRowBackground--header_top--desktop,
.headerRowContainer--header__top {
    background-color: #E2001A
}

.headerRowContainer--header__superior-mobile {
    background-color: #192e36;
    justify-content: center;
    text-align: center;
}

.headerRowContainer--header__middle--mobile{
    background-color:#e2001a ;
}

@media screen and (max-width: 768px) {
    .headerRowContainer--header__top{
        display: flex;
        justify-content: space-evenly;
    }
}