
.headerRowContainer--header__middle,
.headerRowContainer--header__top-mobile{
    background-color: #E2001A
}
.headerRowBackground--header_top--desktop,
.headerRowContainer--header__top{
    background-color: #E2001A
}

.autoCompleteOuterContainer--searchbar__desktop{
    border: 25px;
}