.imageElement--image__section--two-mobile {
    margin-top: 1.5rem;
}

.searchIcon--searchbar__desktop {
    margin-left: -66rem;
    color: #005aa8;
}

.searchBarIcon {
    justify-content: center;
    margin-right: -25px;
}

.searchIcon--searchbar__mobile {
    display: none;
}

.searchBarContainer :global(.vtex-input-prefix__group){
    border-radius: 1.25rem;
}
.searchBarInnerContainer--searchbar__desktop{
    width: 75%;
}

@media screen and (max-width: 768px) {
    .searchBarContainer :global(.vtex-input-prefix__group){
        width: 85%;
        margin-left: 1rem
    }
}

@media screen and (max-width: 500px) {
    .searchBarContainer :global(.vtex-input-prefix__group){
        width: 90%;
        margin-left: 1rem
    }
}