.menuContainer--menu__desktop--departments {
    margin-left: 1.5rem;
    padding-left: 60px;
    padding-right: 50px;
    font-weight: bold;
}

.submenuWrapper--menu-departaments-1 {
    margin-left: 193px;
    height: 800px;
    width: 274px;
    margin-top: -86px;
}