.paragraph--section__one--title {
    color: white;
}

.headingLevel3{
    margin-left: 3rem
}

.wrapper--mas-servicios{
    font-size: 21px;
    font-weight: bold;
    margin-left: 6rem;
}

.wrapper--mas-servicios-mobile{
    margin-top: 1rem;
    margin-left: 25%;
    font-weight: bold;
    color: #36474f;
    font-size: 16px
}

.paragraph--ofertas-imperdibles-2{
    margin-top: 3rem;
    padding-left: 1rem;
    font-size: 18px;
    color: #38464f;
    margin-bottom: 0;
    font-weight: bold;
}

.paragraph--precios-bajos {
    font-size: 18px;
    color: #38464f;
    padding-left: 5rem;
    margin-top: 3rem;
    font-weight: bold
}