.galleryTitle--layout {
    font-size: 25px;
    color: #38464f;
    letter-spacing: -.13px;
    padding-top: 5px;
}

.gallery--general-grid {
    margin-top: 1rem
}

.galleryTitle--layout {
    font-size: 25px;
    color: #38464f;
    letter-spacing: -.13px;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 5px;
}

.gallery--general-grid {
    margin-top: 1rem
}

.orderByButton::before {
    content: "Ordenar por";
    background: #fff;
    text-transform: capitalize;
    padding-right: 10px;
    color: #36474f;
}

.filterPopupTitle {
    flex-direction: row !important;
    text-align: center;
    background: #e2001b;
    color: #fff;
    font-size: 14px !important;
    font-family: Montserrat;
    font-weight: 400;
    opacity: 1;
    height: 65px;
    align-items: center;
    letter-spacing: .15px;
    text-transform: lowercase;
    padding-left: 10px;
    width: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterPopupTitle::after {
    content: url(assets/img/arrow-down-svgrepo-com.svg);
    height: 5px;
    width: 9px;
    opacity: 1;
    margin-bottom: 13px;
    margin-left: 10px;
    padding-right: 5px;
    color: #fff !important;
}

.orderByText {
    display: none
}

.orderByButton {
    height: 60px;
    display: flex;
    justify-content: flex-end
}

.gallery--grid,
.gallery--grid-two {
    margin-top: 1rem
}

.totalProducts--layout {
    font-size: 14px !important;
    letter-spacing: 0;
    color: #000 !important;
    opacity: 1 !important;
    font-weight: 400;
}

.galleryItem--normal {
    max-width: 100%
}

.filter__search {
    background-color: #1270e6 !important
}

.gallery--list {
    padding-bottom: 3rem
}

/********* Mobile ************/

.filterPopupArrowIcon {
    display: none
}

.filtersWrapper {
    padding: 30px;
    width: auto
}


@media screen and (max-width:640px) {
    .filtersWrapper {
        padding: 0;
        max-width: max-content
    }
}