.containerNormal {
  border: 1px solid #ccc;
  margin: .5rem;
  border-radius: 10px;
  padding-bottom: 0
}

.container {
  max-width: none !important
}

@media screen and (max-width:850px) {
  .containerNormal {

    padding-top: 2rem;
  }
}
