.sliderLayoutContainer--home__slider {
    max-width: 1500px;
    margin: 0 auto 40px;
}

.paginationDotsContainer--home__slider {
    display: none;
    transform: translateY(30px);
}

.slideChildrenContainer--home__sliderone {
    margin: 2rem auto 40px;
    max-width: 1500px;
}

.sliderTrackContainer--home__slider-two {

    margin-bottom: 2rem
}

.sliderLayoutContainer--home__slider {
    margin-top: 2rem;
}

.paginationDotsContainer--home__slider-two {
    display: none;
}

.caretIcon--home__slider-one--mobile,
.caretIcon--home__slider-one--mobile-servicios,
.caretIcon--home__slider-one--phone-2,
.caretIcon--home__slider-one--phone-4 {
    display: none;
}

.paginationDotsContainer--home__slider-one--mobile {
    bottom: -28px;
}

.paginationDotsContainer--home__slider-one--mobile-servicios,
.paginationDotsContainer--home__slider-one--phone-2,
.paginationDotsContainer--home__slider-one--phone-4 {
    bottom: -20px;
}

.sliderTrack--home__slider-one--phone-2,
.sliderTrack--home__slider-one--phone-4 {
    margin-top: 2rem;
}

@media screen and (max-width: 768px){
    .caretIcon--home__slider-two{
        display: none;
    }
    .paginationDotsContainer--home__slider-two {
        display:flex
    }
}

